facebook-scraper @ git+https://github.com/moda20/facebook-scraper@7e16440
lxml[html_clean] # ImportError: lxml.html.clean module is now a separate project lxml_html_clean. Install lxml[html_clean] or lxml_html_clean directly.
requests
